body {
    background-color: grey;
}

.header {
    display: flex;
    background-color: rgb(41, 41, 41);
    width: 100%;
    border-left: 14px;
    padding-left: 2px;
    height: auto;
}

.wrapper {
    background-color: rgb(41, 41, 41);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

.album-card {
    background-color: purple;
    border: 25px;
    margin: 25px;
}

.flex-container {
    display: flex;
    overflow: auto;
}

.img-container {
    height: 100px;
    width: 100px;
    padding: 20px;
    border: 20px;
}

.img-container  img {
    height: auto;
    width: 100%;
    border: 5px;
    border-radius: 5px;
}

.header {
    display: flex;
    background-color: rgb(41, 41, 41);
    width: 100%;
    border-left: 14px;
    padding-left: 2px;
    height: auto;
}

.title {
    padding-left: 10px;
}

.navbar {
    margin-left: auto;
    display: flex;
}

div.tracklist-container {
    overflow: scroll;
    height: 50px;
    width: auto;
}

div.song-container {
    background-color: grey;
}

div.song-container div.song-title {
    display: flex;
    border: 1px solid black;
    overflow: auto;
}

div.song-container div.song-title div {
    margin-left: auto;
}
