body {
    background-color: rgb(41, 41, 41);
}

.wrapper {
    background-color: rgb(41, 41, 41);
}

.flex-container {
    display: flex;
}

/* .img-container {
    text-align: right;
    height: auto;
    width: 500px;
    padding: 20px;
    float: right;
    border-radius: 4px;
    margin-left: auto;
    padding: 30px;
} */

/* .img-container {
    height: auto;
    width: auto;
    padding: 20px;
}
.img-container  img {
    height: 75%;
    width: 75%;
    border: 5px;
    border-radius: 5px;
} */